.image {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(21.jpg);
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-dark {
    background-color: black;
    color: aliceblue;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border-trans {
    background-color: transparent;
}