
body
{margin: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.topnav
{overflow: hidden;
background-color: rgb(7, 7, 122);
color: aliceblue;}
.topnav a
{float: left;
color: aliceblue;
text-align: center;
font-size: 18px;
padding: 8px;
}
.topnav a:hover
{background-color: aliceblue;
color: rgb(7,7, 122);}
.topnav a.active
{background-color: rgb(53,99, 8);
color: aliceblue;}